name: Auto Run Dify

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  trigger_dify:
    runs-on: ubuntu-latest
    steps:
      - name: Call Dify API
        run: |
          # URLをAPI専用のものに書き換えました
          # キーの周りの【】を削除しました
          curl -X POST "https://api.dify.ai/v1/workflows/run" \
          --header "Authorization: Bearer app-oD1a3qNjUFl57hRRR8gMZRx0" \
          --header "Content-Type: application/json" \
          --data-raw '{
              "inputs": {},
              "response_mode": "blocking",
              "user": "github-action-bot"
          }'
